* {
  box-sizing: border-box;
}

.Wrapper {
  display: flex;
}

.SideBar {
  color: #fff;
  width: 300px;
}

.LeftHeader {
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  &__list {
    height: 20px;
    width: 260px;
    display: flex;
    justify-content: space-between;
  }
  

}